name: Go

on:
  workflow_dispatch:
    inputs:
      upload:
        description: 'Upload: If want ignore'
        required: false

jobs:
  upload:
    name: Build and Upload Release
    if: github.event.inputs.upload != 'y'
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.16

    - name: Build
      run: go build && bash build_muiltarch.sh

    - name: Release
      run: |
        wget -O ghr.tar.gz https://github.com/tcnksm/ghr/releases/download/v0.13.0/ghr_v0.13.0_linux_amd64.tar.gz
        tar -xvf ghr.tar.gz
        mv ghr*linux_amd64/ghr .
        ./ghr -delete -t "${{ github.token }}" -n "${{ github.event.inputs.tag }}" "${{ github.event.inputs.tag }}" releases
